// start .s-rews
.s-rews {
	@include media-breakpoint-down(md) {
		.slick-list {
			// overflow: inherit;
		}

	}

	&__slide {
		text-align: center;

		@include media-breakpoint-up(md) {

			padding: rem(80) rem(50);
		}

		// padding: rem(30) rem(20);
		padding-left: rem(20);
		padding-right: rem(20);
	}

	p {
		max-width: rem(1065);
	}

	&__img-wrap {
		display: block;
		background-color: #ffffff;

		@include media-breakpoint-up(md) {

			box-shadow: 0px rem(15px) rem(40px) rgba(0, 0, 0, 0.19);
		}

		max-width: rem(1100);
		margin-left: auto;
		margin-right: auto;
		padding: rem(20) 0;

		@include media-breakpoint-up(lg) {
			min-height: 600px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		@include media-breakpoint-up(md) {

			border-radius: 20px;
			// height: rem(423);
		}

		border-radius: 15px;

		text-align: center;
		// display: flex;
		// align-items: center;
		// justify-content: center;

		img {
			flex-shrink: 0;
		}

		img {
			max-height: 100%;
		}
	}

	&__btn {
		@extend .btn-danger;
		@extend .btn-block;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(662);
		margin-top: rem(40);
	}

	.slick-dots {
		display: none !important;
	}

	@include media-breakpoint-down(md) {

		top: rem(30px);
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-rews