mixin s-not()
	// start s-not
	+b.s-not#s-not&attributes(attributes)
		.container
			+e.title И самое главное!..
			+e.lg Никакой   рекламы
			.row
				.col-xl
					p Наш интерактивный курс&nbsp;&mdash; это не&nbsp;рекламное &laquo;завлечение&raquo;. Мы&nbsp;не&nbsp;рекламируем брокеров, не&nbsp;заставляем Вас покупать наши платные курсы или торговые программы.
				.col-xl
					p: strong Просто попробуйте &laquo;Быстрый Старт&raquo; и&nbsp;убедитесь в&nbsp;том, что в&nbsp;Инфо-ДВД можно бесплатно получить&nbsp;то, за&nbsp;что в&nbsp;других местах с&nbsp;Вам попросят несколько десятков тысяч рублей!
				.col-xl-auto
					+e.btn.btn.lb_target(type="button")  Получите доступ бесплатно
	// end s-not