mixin sWhy()
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container 
			.row
				.col
					h2 Зачем мы&nbsp;отдаем это бесплатно?
					+e.small Это самый частый вопрос, который нам задают новички
					p Если коротко: мы&nbsp;собираем команду трейдеров, которые уже научились зарабатывать, используя наши стратегии. Людей, с&nbsp;которыми сможем на&nbsp;выгодных условиях совместно управлять средствами крупных инвесторов.
					p: span Факт: денег всегда больше, чем тех людей, которые умеют их&nbsp;приумножать.
					p Если работа в&nbsp;команде Вас не&nbsp;заинтересует&nbsp;&mdash; никаких проблем. Просто забирайте наши знания и&nbsp;торговые алгоритмы&nbsp;&mdash; и&nbsp;работайте самостоятельно, полностью автономно и&nbsp;исключительно на&nbsp;себя. Никаких обязательств мы&nbsp;с&nbsp;Вас не&nbsp;берем!
				.col-lg-auto
					+e.block
						img(src="img/svg/money.svg" loading="lazy", alt="")
						p Мы&nbsp;научим Вас зарабатывать #[strong всего по&nbsp;$50&nbsp;в одной сделке] (это сущие копейки по&nbsp;меркам рынка FOREX), чтобы вместе получить доступ к&nbsp;управлению миллионными капиталами.
	// end sWhy