mixin s-steps()
	// start s-steps
	+b.s-steps.section#s-steps&attributes(attributes)
		.container 
			+e.row.row.row-cols-lg-2
				mixin li(t)
					+e.item
						+e.title!= t
						block
				.col-xl-auto.col-lg-6
					+li(`Доступно каждому `)
						p Торговый робот&nbsp;&mdash; идеальное решение, чтобы начать с&nbsp;небольшой суммы в&nbsp;$100
					
					+li(`Для абсолютных <br> новичков`)
						p Даже если вы&nbsp;впервые слышите термины &laquo;FOREX&raquo;, &laquo;торговый робот&raquo;, Вы поймете как зарабатывать каждый день на&nbsp;этом рынке.
					
					+li(`Пошаговое обучение  и&nbsp;задания`)
						p Вы&nbsp;последовательно пройдете 8&nbsp;шагов. К&nbsp;каждому занятию&nbsp;Вы получите несложное задание, выполнив которое закрепите изученное.
				.col-xl-auto.col-lg-6 
					+li("ПЕРСОНАЛЬНАЯ ПОДДЕРЖКА")
						p Помимо помощи от авторов курса в закрытой группе в Инфоклубе, Вы&nbsp;(при необходимости) получите персональные консультации от специалистов Службы Заботы Инфо-ДВД. В том числе и&nbsp;по телефону!
					
					+li("АБСОЛЮТНО БЕСПЛАТНО")
						p Никаких ограничений и&nbsp;уловок! Все 10&nbsp;занятий с заданиями&nbsp;&mdash; бесплатно и&nbsp;прямо сейчас. Записи уроков останутся у&nbsp;Вас навсегда
					
					+li("100% <br> эксклюзив")
						p Вы&nbsp;получите эксклюзивную авторскую систему, на&nbsp;разработки которой методом &laquo;проб и ошибок&raquo; у&nbsp;Вас ушел&nbsp;бы не&nbsp;один год и&nbsp;десяток &laquo;слитых&raquo; депозитов
			+pic('book.png' )
		block
	// end s-steps