mixin s-why()
	// start s-why
	+b.SECTION.s-why.section#s-why&attributes(attributes)
		.container 
			h2 Почему нам можно верить? 
			+e.row.row.mx-0
				+e.col.col-lg-4
					+e.title Мы&nbsp;не&nbsp;лезем <br> в&nbsp;Ваш карман
					p Вам не&nbsp;нужно инвестировать в&nbsp;сомнительные проекты, вкладывать деньги, чтобы пройти обучение, и&nbsp;вообще что-либо покупать
				+e.col.col-lg-4
					+e.title Мы&nbsp;не&nbsp;связаны ни&nbsp;с&nbsp;одним брокером
					p Нам не&nbsp;важно, у&nbsp;какого брокера&nbsp;Вы будете работать. Мы&nbsp;не зарабатываем на&nbsp;комиссионных и&nbsp;не&nbsp;агитируем Вас вкладывать деньги. Напротив, призываем Вас учиться на &laquo;демо-счете&raquo; и&nbsp;не&nbsp;вкладывать реальные деньги&nbsp;Мы не&nbsp;обещаем золотые горы. пока не&nbsp;освоите нашу стратегию.
				+e.col.col-lg-4
					+e.title Мы&nbsp;не&nbsp;обещаем золотые горы
					p Нужно быть настоящим профи, чтобы заколачивать миллионы. Но&nbsp;мы&nbsp;научим Вас делать  от&nbsp;50&nbsp;долларов прибыли  в&nbsp;каждой сделке. Это копейки  по&nbsp;меркам финансовых рынках. Но&nbsp;это под силу каждому!
			+e.block
				+e.inner: .row
					.col-sm-auto
						+pic("circle.png",'',0)
					.col Зарегистрируйтесь бесплатно прямо сейчас и&nbsp;я подарю Вам своего робота-советника, который #[span увеличил мой депозит в&nbsp;100&nbsp;РАЗ за&nbsp;1,5&nbsp;года!]
			+e.footer
				.row
					.col
						+e.footer-text #[strong Евгений Стриж] сделал это публично, на&nbsp;реальном счете&nbsp;&mdash; и&nbsp;документально зафиксировал результат:

					.col-auto
						+e.btn.btn.lb_target(type="button") Зарегистироваться
	// end s-why