mixin s-result()
	// start s-result
	+b.SECTION.s-result.section#s-result&attributes(attributes)
		.container.text-center
			.section-title
				h2 70% прибыли в&nbsp;месяц&nbsp;&mdash; типичный результат после обучения:
			+e.video-wrap
				<iframe src="https://player.vimeo.com/video/393248998?title=0&byli ne=0&portrait=0" loading="lazy" width="800" height="450" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> 
			+e.title Посмотрите это короткое видео (меньше 3&nbsp;минут).  Не&nbsp;пугайтесь непонятных терминов&nbsp;&mdash; они объясняются уже в&nbsp;первых уроках курса
			p Цель видео: показать, как именно и&nbsp;сколько вы&nbsp;будете зарабатывать!
	// end s-result