mixin header(i='header-bg-1')

	// start HEADER.header
	+b.HEADER.header.bg-wrap&attributes(attributes)
		+pic(i,"bg")(class="picture-bg")
		.container
			+e.wrap
				+e.top-text Бесплатно! Пошаговый онлайн-курс: с&nbsp;нуля до&nbsp;первой прибыли
				+e.lg-text Прибыль каждый день
				+e.md-text +70% каждый месяц с&nbsp;абсолютного нуля
				+e.title Совершайте несложные сделки на&nbsp;FOREX по&nbsp;сигналам авторского советника. Вооружитесь преимуществом, которого нет у&nbsp;других!
				p Зарегистрируйтесь прямо сейчас и&nbsp;получите моментальный доступ к&nbsp;пошаговому онлайн-курсу, который доведет Вас до&nbsp;первой прибыли на&nbsp;FOREX
				+e.btn-wrap.text-md-left.text-center
					.block-decorate
						+e.btn.btn.lb_target(type="button") Успейте получить бесплатно
				.time__block
						
					
					.idvd_timer.autostart(data-redirect_url='', data-duration_hours='36.5')
			+e.img-wrap
				+pic('man.png')
				+e.name Евгений Стриж

	// end HEADER.header
